*{
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  font-family: "ArilalArmSt";
}

a{
  text-decoration: none;
  color:#DCF0FF ;
}

body{
  background: #DCF0FF;
}
.App{
  overflow-x:hidden ;
  background: #DCF0FF;

}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield; 
}


input[type="checkbox"]{
  width: 20px;
  height: 20px;
}
.jodit-status-bar{
  display: none !important;
}